# backend
fastapi
uvicorn

# webscraper 
python-dotenv
beautifulsoup4
readability-lxml
requests
trafilatura
newspaper3k
finnhub-python
lxml
feedparser
prisma

#forecasting
prophet
yfinance
pandas
statsmodels
matplotlib
xgboost
scikit-learn

# PyTorch - install with CUDA support separately if needed:
# pip install torch==2.0.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torch

# Add Transformers library
transformers

# Libraries for RAG
langchain-ollama==0.3.8
ollama==0.6.0
pydantic
chromadb
sentence_transformers
PyMuPDF
python-multipart
dotenv
pytest